In [ ]:
# ordinal encoding

# when categorical data can be sorted in a particular order or rank, we use ordinal encoding
# eg. we take date information of previous 20 days from today. sort the days of week Mon-Sun in order 1-7.

In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [7]:
date = datetime.datetime.today()
date

datetime.datetime(2020, 4, 26, 14, 7, 9, 430000)

In [12]:
# displaying 20 previous dates from today
dates = [date-datetime.timedelta(days=x) for x in range(0,20)]
dates = pd.DataFrame(dates)
dates.columns = ['day']
dates.head()

                      day
0 2020-04-26 14:07:09.430
1 2020-04-25 14:07:09.430
2 2020-04-24 14:07:09.430
3 2020-04-23 14:07:09.430
4 2020-04-22 14:07:09.430

In [14]:
# extracting day information from the date
dates['day_of_week'] = dates['day'].dt.weekday_name
dates.head()

                      day day_of_week
0 2020-04-26 14:07:09.430      Sunday
1 2020-04-25 14:07:09.430    Saturday
2 2020-04-24 14:07:09.430      Friday
3 2020-04-23 14:07:09.430    Thursday
4 2020-04-22 14:07:09.430   Wednesday

In [19]:
# creating a dictionary of days and ranks
weekday_mapping = {'Monday' : 1,
                   'Tuesday' : 2,
                   'Wednesday' : 3,
                   'Thursday' : 4,
                   'Friday' : 5,
                   'Saturday' : 6,
                   'Sunday' : 7
                  }
dates['rank'] = dates.day_of_week.map(weekday_mapping)
dates.head()

                      day day_of_week  rank
0 2020-04-26 14:07:09.430      Sunday     7
1 2020-04-25 14:07:09.430    Saturday     6
2 2020-04-24 14:07:09.430      Friday     5
3 2020-04-23 14:07:09.430    Thursday     4
4 2020-04-22 14:07:09.430   Wednesday     3