In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [ ]:
# Ordinal encoding
# When categorical variables have to be arranged in a certain order or on a rank basis, we could use ordinal encoding
# Here we take an example of 20 dates dataframe which has information of day,month,year & time. Lets try to sort & order the days of the week, Monday-Sunday as 1-7.

In [3]:
dates = datetime.datetime.today()
dates

datetime.datetime(2020, 4, 26, 11, 21, 51, 848000)

In [4]:
# displaying dates of previous 20 days from today.
dateslist = [dates - datetime.timedelta(days=x) for x in range (0,20)]
df = pd.DataFrame(dateslist)
df.columns = ['Day']
df.head()

                      Day
0 2020-04-26 11:21:51.848
1 2020-04-25 11:21:51.848
2 2020-04-24 11:21:51.848
3 2020-04-23 11:21:51.848
4 2020-04-22 11:21:51.848

In [5]:
# extracting day of week 
df['day_of_week'] = df['Day'].dt.weekday_name
df.head()

                      Day day_of_week
0 2020-04-26 11:21:51.848      Sunday
1 2020-04-25 11:21:51.848    Saturday
2 2020-04-24 11:21:51.848      Friday
3 2020-04-23 11:21:51.848    Thursday
4 2020-04-22 11:21:51.848   Wednesday

In [11]:
# ranking days of week
weekdays_mapping = {'Monday' : 1,
                    'Tuesday' : 2,
                    'Wednesday' : 3,
                    'Thursday' : 4,
                    'Friday' :5,
                    'Saturday' :6,
                    'Sunday' : 7}
df['Rank_of_days'] = df['day_of_week'].map(weekdays_mapping)
df.head()

                      Day day_of_week  Rank_of_days
0 2020-04-26 11:21:51.848      Sunday             7
1 2020-04-25 11:21:51.848    Saturday             6
2 2020-04-24 11:21:51.848      Friday             5
3 2020-04-23 11:21:51.848    Thursday             4
4 2020-04-22 11:21:51.848   Wednesday             3

In [ ]:
# we can now use this updated variables for further model building.